@page "/"
@using joy_database.Repositories
@using joy_database.Models
@using Ganss.Xss
@page "/feed"
@using Blazored.Video
@using Blazored.Video.Support
@inject StoryRepository StoryRepository

<h3>Story Feed</h3>

@foreach (var story in stories)
{
    <div class="story">
        <div class="story-header">
            <strong>@story.Name</strong>
            <div>@story.Created.ToString("dd/MM/yyyy")</div>
        </div>
        <div class="story-text">
            @((MarkupString)new HtmlSanitizer().Sanitize(story.Text))
            @foreach (var media in story.Media)
            {
                @if (media.Type == MediaType.Image)
                {
                    <img src="@media.Filename" height="300" width="300"/>
                } else if (media.Type == MediaType.Video)
                {
                    <BlazoredVideo 
                                   style="height:300px;"
                                   controls="controls">
                        <source src="@media.Filename" type="video/mp4" />
                    </BlazoredVideo>
                }
            }

        </div>
    </div>
}

@code {
    private List<Story> stories;

    protected override async Task OnInitializedAsync()
    {
        stories = await StoryRepository.GetAllApproved();
    }
}
